In [1]:
import numpy as np
import pandas as pd
import config.config_paths as paths

In [2]:
# Reading the CSV files
cal_data = pd.read_csv(paths.calendar_path)
salestv_data = pd.read_csv(paths.sales_train_eval_path)
ss_data = pd.read_csv(paths.sample_submission_path)

In [3]:
timesteps=28
startDay=0

In [4]:
salestv_data.shape

(30490, 1947)

In [5]:
salestv_data.head()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_001,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,2,4,0,0,0,0,3,3,0,1
1,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_002,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,1,2,1,1,0,0,0,0,0
2,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_003,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,0,2,0,0,0,2,3,0,1
3,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_004,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,1,1,0,4,0,1,3,0,2,6
4,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_005,HOBBIES_1,HOBBIES,CA_1,CA,0,0,0,0,...,0,0,0,2,1,0,0,2,1,0

In [6]:
cal_data.head()

,date,wm_yr_wk,weekday,wday,month,year,d,event_name_1,event_type_1,event_name_2,event_type_2,snap_CA,snap_TX,snap_WI
0,2011-01-29,11101,Saturday,1,1,2011,d_1,NaN,NaN,NaN,NaN,0,0,0
1,2011-01-30,11101,Sunday,2,1,2011,d_2,NaN,NaN,NaN,NaN,0,0,0
2,2011-01-31,11101,Monday,3,1,2011,d_3,NaN,NaN,NaN,NaN,0,0,0
3,2011-02-01,11101,Tuesday,4,2,2011,d_4,NaN,NaN,NaN,NaN,1,1,0
4,2011-02-02,11101,Wednesday,5,2,2011,d_5,NaN,NaN,NaN,NaN,1,0,1

In [7]:
ss_data.tail()

,id,F1,F2,F3,F4,F5,F6,F7,F8,F9,...,F19,F20,F21,F22,F23,F24,F25,F26,F27,F28
60975,FOODS_3_823_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60976,FOODS_3_824_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60977,FOODS_3_825_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60978,FOODS_3_826_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
60979,FOODS_3_827_WI_3_evaluation,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
salestv_data.describe()

,d_1,d_2,d_3,d_4,d_5,d_6,d_7,d_8,d_9,d_10,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
count,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,...,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000,30490.000000
mean,1.070220,1.041292,0.780026,0.833454,0.627944,0.958052,0.918662,1.244080,1.073663,0.838701,...,1.445490,1.781174,1.965267,1.389374,1.271794,1.216661,1.212299,1.395605,1.689669,1.782158
std,5.126689,5.365468,3.667454,4.415141,3.379344,4.785947,5.059495,6.617729,5.917204,4.206199,...,3.656824,4.426550,4.706284,3.313292,3.126178,3.000348,2.955910,3.514318,4.089208,4.284356
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,1.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.000000,1.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.000000,2.000000,2.000000,2.000000,1.000000,1.000000,1.000000,1.000000,2.000000,2.000000
max,360.000000,436.000000,207.000000,323.000000,296.000000,314.000000,316.000000,370.000000,385.000000,353.000000,...,143.000000,156.000000,187.000000,98.000000,90.000000,77.000000,84.000000,110.000000,156.000000,117.000000

In [9]:
salestv_data.isnull()

,id,item_id,dept_id,cat_id,store_id,state_id,d_1,d_2,d_3,d_4,...,d_1932,d_1933,d_1934,d_1935,d_1936,d_1937,d_1938,d_1939,d_1940,d_1941
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30485,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30486,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30487,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30488,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
30489,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [10]:
print(salestv_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30490 entries, 0 to 30489
Columns: 1947 entries, id to d_1941
dtypes: int64(1941), object(6)
memory usage: 452.9+ MB
None

In [11]:
# Making dates as row to get the data in exact format
salestv_data_transposed = salestv_data.T

In [12]:
salestv_data_transposed.head(8)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
id,HOBBIES_1_001_CA_1_evaluation,HOBBIES_1_002_CA_1_evaluation,HOBBIES_1_003_CA_1_evaluation,HOBBIES_1_004_CA_1_evaluation,HOBBIES_1_005_CA_1_evaluation,HOBBIES_1_006_CA_1_evaluation,HOBBIES_1_007_CA_1_evaluation,HOBBIES_1_008_CA_1_evaluation,HOBBIES_1_009_CA_1_evaluation,HOBBIES_1_010_CA_1_evaluation,...,FOODS_3_818_WI_3_evaluation,FOODS_3_819_WI_3_evaluation,FOODS_3_820_WI_3_evaluation,FOODS_3_821_WI_3_evaluation,FOODS_3_822_WI_3_evaluation,FOODS_3_823_WI_3_evaluation,FOODS_3_824_WI_3_evaluation,FOODS_3_825_WI_3_evaluation,FOODS_3_826_WI_3_evaluation,FOODS_3_827_WI_3_evaluation
item_id,HOBBIES_1_001,HOBBIES_1_002,HOBBIES_1_003,HOBBIES_1_004,HOBBIES_1_005,HOBBIES_1_006,HOBBIES_1_007,HOBBIES_1_008,HOBBIES_1_009,HOBBIES_1_010,...,FOODS_3_818,FOODS_3_819,FOODS_3_820,FOODS_3_821,FOODS_3_822,FOODS_3_823,FOODS_3_824,FOODS_3_825,FOODS_3_826,FOODS_3_827
dept_id,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,HOBBIES_1,...,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3,FOODS_3
cat_id,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,HOBBIES,...,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS,FOODS
store_id,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,CA_1,...,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3,WI_3
state_id,CA,CA,CA,CA,CA,CA,CA,CA,CA,CA,...,WI,WI,WI,WI,WI,WI,WI,WI,WI,WI
d_1,0,0,0,0,0,0,0,12,2,0,...,0,14,1,0,4,0,0,0,0,0
d_2,0,0,0,0,0,0,0,15,0,0,...,0,11,1,0,4,0,0,6,0,0

In [13]:
salestv_data_transposed.shape

(1947, 30490)

In [14]:
#remove first 6 rows as we do not need that to feed to our model
salestv_data_cropped = salestv_data_transposed[6+startDay:].astype('float32')
salestv_data_cropped.head(8)

,0,1,2,3,4,5,6,7,8,9,...,30480,30481,30482,30483,30484,30485,30486,30487,30488,30489
d_1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,12.0,2.0,0.0,...,0.0,14.0,1.0,0.0,4.0,0.0,0.0,0.0,0.0,0.0
d_2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15.0,0.0,0.0,...,0.0,11.0,1.0,0.0,4.0,0.0,0.0,6.0,0.0,0.0
d_3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,1.0,...,0.0,5.0,1.0,0.0,2.0,2.0,0.0,0.0,0.0,0.0
d_4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,6.0,1.0,0.0,5.0,2.0,0.0,2.0,0.0,0.0
d_5,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,5.0,1.0,0.0,2.0,0.0,0.0,2.0,0.0,0.0
d_6,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,2.0,0.0,...,0.0,13.0,2.0,0.0,7.0,3.0,5.0,4.0,0.0,0.0
d_7,0.0,0.0,0.0,0.0,0.0,0.0,0.0,6.0,3.0,0.0,...,0.0,18.0,1.0,0.0,8.0,1.0,0.0,1.0,0.0,0.0
d_8,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,9.0,0.0,...,0.0,13.0,3.0,0.0,4.0,4.0,1.0,8.0,0.0,0.0

In [15]:
# Initialize a dataframe with zeros for 1969 days in the calendar

daysBeforeEvent1 = pd.DataFrame(np.zeros((cal_data.shape[0], 1)))
daysBeforeEvent2 = pd.DataFrame(np.zeros((cal_data.shape[0], 1)))

snap_CA = cal_data["snap_CA"]
snap_TX = cal_data["snap_TX"]
snap_WI = cal_data["snap_WI"]

In [16]:
# Label 1 to one day before the event_name_1
# Label 1 to one day before the event_name_2
# Sales are likely to increase one day before events like superbowl etc.

for x, y in cal_data.iterrows():
    if not (pd.isnull(cal_data["event_name_1"][x])):
        daysBeforeEvent1[0][x - 1] = 1

    if not (pd.isnull(cal_data["event_name_2"][x])):
        daysBeforeEvent2[0][x - 1] = 1

In [17]:
cal_data.shape

(1969, 14)

In [18]:

# split dataset into evaluation (last 2 weeks), validation (first 2 weeks), training
# input for predicting validation period day 1941 to 1969

daysBeforeEvent1_eval = daysBeforeEvent1[1941:].astype('float32')
daysBeforeEvent2_eval = daysBeforeEvent2[1941:].astype('float32')

snap_CA_eval = snap_CA[1941:].astype('float32')
snap_TX_eval = snap_TX[1941:].astype('float32')
snap_WI_eval = snap_WI[1941:].astype('float32')

In [19]:
# input for predicting validation period day 1913 to 1941

daysBeforeEvent1_valid = daysBeforeEvent1[1913:1941].astype('float32')
daysBeforeEvent2_valid = daysBeforeEvent2[1913:1941].astype('float32')

snap_CA_valid = snap_CA[1913:1941].astype('float32')
snap_TX_valid = snap_TX[1913:1941].astype('float32')
snap_WI_valid = snap_WI[1913:1941].astype('float32')

In [20]:
# input for predicting training period from day 0 to 1913
daysBeforeEvent1_train = daysBeforeEvent1[startDay:1941].astype('float32')
daysBeforeEvent2_train = daysBeforeEvent2[startDay:1941].astype('float32')

snap_CA_train = snap_CA[startDay:1941].astype('float32')
snap_TX_train = snap_TX[startDay:1941].astype('float32')
snap_WI_train = snap_WI[startDay:1941].astype('float32')

In [21]:
print(daysBeforeEvent1_eval.shape)
print(daysBeforeEvent2_eval.shape)

print(daysBeforeEvent1_valid.shape)
print(daysBeforeEvent2_valid.shape)

print(daysBeforeEvent1_train.shape)
print(daysBeforeEvent2_train.shape)

(28, 1)
(28, 1)
(28, 1)
(28, 1)
(1941, 1)
(1941, 1)

In [22]:
print(snap_CA_eval.shape)
print(snap_TX_eval.shape)
print(snap_WI_eval.shape)

print(snap_CA_valid.shape)
print(snap_TX_valid.shape)
print(snap_WI_valid.shape)

print(snap_CA_train.shape)
print(snap_TX_train.shape)
print(snap_WI_train.shape)

(28,)
(28,)
(28,)
(28,)
(28,)
(28,)
(1941,)
(1941,)
(1941,)

In [23]:
#Before concatanation with our main data "dt", indexes are made same and column name is changed to "oneDayBeforeEvent"
daysBeforeEvent1_train.columns = ["oneDayBeforeEvent1"]
daysBeforeEvent1_train.index = salestv_data_cropped.index

daysBeforeEvent2_train.columns = ["oneDayBeforeEvent2"]
daysBeforeEvent2_train.index = salestv_data_cropped.index

snap_CA_train.columns = ["snap_CA"]
snap_CA_train.index = salestv_data_cropped.index

snap_TX_train.columns = ["snap_TX"]
snap_TX_train.index = salestv_data_cropped.index

snap_WI_train.columns = ["snap_WI"]
snap_WI_train.index = salestv_data_cropped.index

In [24]:
final_data = pd.concat([salestv_data_cropped, daysBeforeEvent1_train, daysBeforeEvent2_train,
                         snap_CA_train, snap_TX_train, snap_WI_train], axis = 1, sort=False)
print(final_data)

          0    1    2    3    4    5    6     7    8    9  ...  30485  30486  \
d_1     0.0  0.0  0.0  0.0  0.0  0.0  0.0  12.0  2.0  0.0  ...    0.0    0.0
d_2     0.0  0.0  0.0  0.0  0.0  0.0  0.0  15.0  0.0  0.0  ...    0.0    0.0
d_3     0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  7.0  1.0  ...    2.0    0.0
d_4     0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  3.0  0.0  ...    2.0    0.0
d_5     0.0  0.0  0.0  0.0  0.0  0.0  0.0   0.0  0.0  0.0  ...    0.0    0.0
...     ...  ...  ...  ...  ...  ...  ...   ...  ...  ...  ...    ...    ...
d_1937  0.0  0.0  0.0  1.0  0.0  0.0  1.0   5.0  0.0  1.0  ...    1.0    0.0
d_1938  3.0  0.0  2.0  3.0  0.0  0.0  0.0   4.0  0.0  1.0  ...    0.0    1.0
d_1939  3.0  0.0  3.0  0.0  2.0  5.0  1.0   1.0  0.0  0.0  ...    0.0    0.0
d_1940  0.0  0.0  0.0  2.0  1.0  2.0  1.0  40.0  1.0  0.0  ...    1.0    1.0
d_1941  1.0  0.0  1.0  6.0  0.0  0.0  0.0  32.0  0.0  1.0  ...    1.0    0.0

        30487  30488  30489  oneDayBeforeEvent1  oneDayBeforeEvent2  snap_CA  \
d_1       0.0    0.0    0.0                 0.0                 0.0      0.0
d_2       6.0    0.0    0.0                 0.0                 0.0      0.0
d_3       0.0    0.0    0.0                 0.0                 0.0      0.0
d_4       2.0    0.0    0.0                 0.0                 0.0      1.0
d_5       2.0    0.0    0.0                 0.0                 0.0      1.0
...       ...    ...    ...                 ...                 ...      ...
d_1937    1.0    0.0    0.0                 0.0                 0.0      0.0
d_1938    0.0    1.0    2.0                 0.0                 0.0      0.0
d_1939    1.0    1.0    2.0                 0.0                 0.0      0.0
d_1940    0.0    1.0    5.0                 0.0                 0.0      0.0
d_1941    2.0    0.0    1.0                 0.0                 0.0      0.0

        snap_TX  snap_WI
d_1         0.0      0.0
d_2         0.0      0.0
d_3         0.0      0.0
d_4         1.0      0.0
d_5         0.0      1.0
...         ...      ...
d_1937      0.0      0.0
d_1938      0.0      0.0
d_1939      0.0      0.0
d_1940      0.0      0.0
d_1941      0.0      0.0

[1941 rows x 30495 columns]

In [25]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1941 entries, d_1 to d_1941
Columns: 30495 entries, 0 to snap_WI
dtypes: float32(30495)
memory usage: 225.8+ MB

In [26]:
final_data.shape

(1941, 30495)

In [27]:
# Feature scaling
# Scale the features using MinMaxScaler in range 0-1
from sklearn.preprocessing import MinMaxScaler

sc = MinMaxScaler(feature_range=(0,1))
final_data.columns = final_data.columns.astype(str)
final_data_scaled = sc.fit_transform(final_data)

print(final_data_scaled)
final_data_scaled.shape

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.6        0.         0.5        ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.2        0.         0.16666667 ... 0.         0.         0.        ]]

(1941, 30495)

In [28]:
# creating sequences for LSTM model training
X_train = []
y_train = []

for i in range(timesteps,1941-startDay):
    X_train.append(final_data_scaled[i-timesteps:i])
    y_train.append(final_data_scaled[i][0:30490])
    #İmportant!! if extra features are added (like oneDayBeforeEvent)
    #use only sales values for predictions (we only predict sales)
    #this is why 0:30490 columns are choosen

In [29]:
X_train = np.array(X_train)
y_train = np.array(y_train)
print(X_train.shape)
print(y_train.shape)

(1913, 28, 30495)
(1913, 30490)

In [30]:
# Count NaN values in X_train
nan_count_X_train = np.sum(np.isnan(X_train))
print("Number of NaN values in X_train:", nan_count_X_train)

# Count NaN values in y_train
nan_count_y_train = np.sum(np.isnan(y_train))
print("Number of NaN values in y_train:", nan_count_y_train)

Number of NaN values in X_train: 0
Number of NaN values in y_train: 0

In [31]:
from keras.backend import *
import tensorflow as tf
from keras.callbacks import EarlyStopping

tf.random.set_seed(42)
np.random.seed(42)

n_timesteps = X_train.shape[1] #28
n_products = X_train.shape[2] # all 30490 products + 5 features


model_1 = tf.keras.models.Sequential([
    tf.keras.layers.Conv1D(filters=128, kernel_size=7, strides=1, padding="causal", activation="relu", input_shape=(n_timesteps, n_products)),
    tf.keras.layers.MaxPooling1D(),
    tf.keras.layers.Conv1D(filters=64, kernel_size=7, strides=1, activation='relu', padding="causal"),
    tf.keras.layers.MaxPooling1D(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(512, return_sequences=True)),
    tf.keras.layers.Dropout(0.2),  # Adding dropout layer
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(256, return_sequences=True)),
    tf.keras.layers.Dropout(0.2),  # Adding dropout layer
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Bidirectional(tf.keras.layers.LSTM(128)),
    tf.keras.layers.Dropout(0.2),  # Adding dropout layer
    tf.keras.layers.BatchNormalization(),
    tf.keras.layers.Dense(30490)
])


opt_adam = tf.keras.optimizers.Adam(clipvalue=0.5)

def rmsse(y_true, y_pred):
    scaling_factor = tf.sqrt(tf.reduce_mean(tf.square(y_true), axis=1))
    error = y_true - y_pred
    rmsse = tf.sqrt(tf.reduce_mean(tf.square(error), axis=1)) / scaling_factor
    return rmsse

model_1.compile(loss='mean_squared_error',
              optimizer=opt_adam,
              metrics=[rmsse])

model_1.summary()

# Clear TensorFlow session
tf.keras.backend.clear_session()

es = EarlyStopping(monitor='val_loss', mode='min', verbose=1, patience=100)
# Training parameters
epochs = 150
batch_size = 100

# Training the model
model_1.fit(X_train, y_train, epochs=epochs, batch_size=batch_size)

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 28, 128)           27323648

 max_pooling1d (MaxPooling1D  (None, 14, 128)          0
 )

 conv1d_1 (Conv1D)           (None, 14, 64)            57408

 max_pooling1d_1 (MaxPooling  (None, 7, 64)            0
 1D)

 bidirectional (Bidirectiona  (None, 7, 1024)          2363392
 l)

 dropout (Dropout)           (None, 7, 1024)           0

 batch_normalization (BatchN  (None, 7, 1024)          4096
 ormalization)

 bidirectional_1 (Bidirectio  (None, 7, 512)           2623488
 nal)

 dropout_1 (Dropout)         (None, 7, 512)            0

 batch_normalization_1 (Batc  (None, 7, 512)           2048
 hNormalization)

 bidirectional_2 (Bidirectio  (None, 256)              656384
 nal)

 dropout_2 (Dropout)         (None, 256)               0

 batch_normalization_2 (Batc  (None, 256)              1024
 hNormalization)

 dense (Dense)               (None, 30490)             7835930

=================================================================
Total params: 40,867,418
Trainable params: 40,863,834
Non-trainable params: 3,584
_________________________________________________________________
Epoch 1/150
20/20 [==============================] - 35s 1s/step - loss: 0.0259 - rmsse: 1.3064
Epoch 2/150
20/20 [==============================] - 25s 1s/step - loss: 0.0198 - rmsse: 1.1480
Epoch 3/150
20/20 [==============================] - 22s 1s/step - loss: 0.0168 - rmsse: 1.1004
Epoch 4/150
20/20 [==============================] - 22s 1s/step - loss: 0.0150 - rmsse: 1.0879
Epoch 5/150
20/20 [==============================] - 22s 1s/step - loss: 0.0145 - rmsse: 1.0744
Epoch 6/150
20/20 [==============================] - 22s 1s/step - loss: 0.0140 - rmsse: 1.0761
Epoch 7/150
20/20 [==============================] - 22s 1s/step - loss: 0.0137 - rmsse: 1.0266
Epoch 8/150
20/20 [==============================] - 21s 1s/step - loss: 0.0134 - rmsse: 1.0234
Epoch 9/150
20/20 [==============================] - 22s 1s/step - loss: 0.0132 - rmsse: 1.0020
Epoch 10/150
20/20 [==============================] - 22s 1s/step - loss: 0.0131 - rmsse: 1.0007
Epoch 11/150
20/20 [==============================] - 22s 1s/step - loss: 0.0129 - rmsse: 0.9971
Epoch 12/150
20/20 [==============================] - 22s 1s/step - loss: 0.0128 - rmsse: 0.9942
Epoch 13/150
20/20 [==============================] - 22s 1s/step - loss: 0.0127 - rmsse: 0.9662
Epoch 14/150
20/20 [==============================] - 22s 1s/step - loss: 0.0125 - rmsse: 0.9732
Epoch 15/150
20/20 [==============================] - 22s 1s/step - loss: 0.0125 - rmsse: 0.9700
Epoch 16/150
20/20 [==============================] - 22s 1s/step - loss: 0.0124 - rmsse: 0.9848
Epoch 17/150
20/20 [==============================] - 22s 1s/step - loss: 0.0123 - rmsse: 0.9766
Epoch 18/150
20/20 [==============================] - 22s 1s/step - loss: 0.0123 - rmsse: 0.9660
Epoch 19/150
20/20 [==============================] - 21s 1s/step - loss: 0.0123 - rmsse: 0.9616
Epoch 20/150
20/20 [==============================] - 22s 1s/step - loss: 0.0122 - rmsse: 0.9398
Epoch 21/150
20/20 [==============================] - 22s 1s/step - loss: 0.0122 - rmsse: 0.9485
Epoch 22/150
20/20 [==============================] - 22s 1s/step - loss: 0.0122 - rmsse: 0.9345
Epoch 23/150
20/20 [==============================] - 22s 1s/step - loss: 0.0122 - rmsse: 0.9470
Epoch 24/150
20/20 [==============================] - 22s 1s/step - loss: 0.0122 - rmsse: 0.9216
Epoch 25/150
20/20 [==============================] - 26s 1s/step - loss: 0.0121 - rmsse: 0.9360
Epoch 26/150
20/20 [==============================] - 24s 1s/step - loss: 0.0121 - rmsse: 0.9272
Epoch 27/150
20/20 [==============================] - 23s 1s/step - loss: 0.0120 - rmsse: 0.9202
Epoch 28/150
20/20 [==============================] - 25s 1s/step - loss: 0.0119 - rmsse: 0.9030
Epoch 29/150
20/20 [==============================] - 22s 1s/step - loss: 0.0119 - rmsse: 0.8836
Epoch 30/150
20/20 [==============================] - 23s 1s/step - loss: 0.0118 - rmsse: 0.8789
Epoch 31/150
20/20 [==============================] - 25s 1s/step - loss: 0.0118 - rmsse: 0.8981
Epoch 32/150
20/20 [==============================] - 23s 1s/step - loss: 0.0118 - rmsse: 0.8758
Epoch 33/150
20/20 [==============================] - 23s 1s/step - loss: 0.0118 - rmsse: 0.8812
Epoch 34/150
20/20 [==============================] - 23s 1s/step - loss: 0.0117 - rmsse: 0.8683
Epoch 35/150
20/20 [==============================] - 23s 1s/step - loss: 0.0117 - rmsse: 0.8730
Epoch 36/150
20/20 [==============================] - 22s 1s/step - loss: 0.0117 - rmsse: 0.8712
Epoch 37/150
20/20 [==============================] - 22s 1s/step - loss: 0.0116 - rmsse: 0.8577
Epoch 38/150
20/20 [==============================] - 23s 1s/step - loss: 0.0116 - rmsse: 0.8690
Epoch 39/150
20/20 [==============================] - 22s 1s/step - loss: 0.0116 - rmsse: 0.8666
Epoch 40/150
20/20 [==============================] - 23s 1s/step - loss: 0.0116 - rmsse: 0.8664
Epoch 41/150
20/20 [==============================] - 23s 1s/step - loss: 0.0116 - rmsse: 0.8637
Epoch 42/150
20/20 [==============================] - 23s 1s/step - loss: 0.0115 - rmsse: 0.8648
Epoch 43/150
20/20 [==============================] - 24s 1s/step - loss: 0.0115 - rmsse: 0.8588
Epoch 44/150
20/20 [==============================] - 23s 1s/step - loss: 0.0114 - rmsse: 0.8492
Epoch 45/150
20/20 [==============================] - 23s 1s/step - loss: 0.0114 - rmsse: 0.8585
Epoch 46/150
20/20 [==============================] - 22s 1s/step - loss: 0.0114 - rmsse: 0.8480
Epoch 47/150
20/20 [==============================] - 23s 1s/step - loss: 0.0114 - rmsse: 0.8432
Epoch 48/150
20/20 [==============================] - 23s 1s/step - loss: 0.0113 - rmsse: 0.8419
Epoch 49/150
20/20 [==============================] - 23s 1s/step - loss: 0.0113 - rmsse: 0.8438
Epoch 50/150
20/20 [==============================] - 22s 1s/step - loss: 0.0113 - rmsse: 0.8338
Epoch 51/150
20/20 [==============================] - 23s 1s/step - loss: 0.0113 - rmsse: 0.8558
Epoch 52/150
20/20 [==============================] - 22s 1s/step - loss: 0.0113 - rmsse: 0.8467
Epoch 53/150
20/20 [==============================] - 24s 1s/step - loss: 0.0112 - rmsse: 0.8444
Epoch 54/150
20/20 [==============================] - 23s 1s/step - loss: 0.0112 - rmsse: 0.8425
Epoch 55/150
20/20 [==============================] - 23s 1s/step - loss: 0.0112 - rmsse: 0.8442
Epoch 56/150
20/20 [==============================] - 24s 1s/step - loss: 0.0112 - rmsse: 0.8397
Epoch 57/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8320
Epoch 58/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8271
Epoch 59/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8331
Epoch 60/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8352
Epoch 61/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8495
Epoch 62/150
20/20 [==============================] - 23s 1s/step - loss: 0.0111 - rmsse: 0.8347
Epoch 63/150
20/20 [==============================] - 22s 1s/step - loss: 0.0110 - rmsse: 0.8299
Epoch 64/150
20/20 [==============================] - 22s 1s/step - loss: 0.0110 - rmsse: 0.8327
Epoch 65/150
20/20 [==============================] - 23s 1s/step - loss: 0.0110 - rmsse: 0.8294
Epoch 66/150
20/20 [==============================] - 22s 1s/step - loss: 0.0110 - rmsse: 0.8208
Epoch 67/150
20/20 [==============================] - 23s 1s/step - loss: 0.0110 - rmsse: 0.8220
Epoch 68/150
20/20 [==============================] - 23s 1s/step - loss: 0.0109 - rmsse: 0.8130
Epoch 69/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8235
Epoch 70/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8065
Epoch 71/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8104
Epoch 72/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8096
Epoch 73/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8063
Epoch 74/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.8051
Epoch 75/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.8083
Epoch 76/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8086
Epoch 77/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8162
Epoch 78/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8083
Epoch 79/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8096
Epoch 80/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8087
Epoch 81/150
20/20 [==============================] - 23s 1s/step - loss: 0.0108 - rmsse: 0.8155
Epoch 82/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.8073
Epoch 83/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.8087
Epoch 84/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8048
Epoch 85/150
20/20 [==============================] - 23s 1s/step - loss: 0.0107 - rmsse: 0.7967
Epoch 86/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8067
Epoch 87/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8035
Epoch 88/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.7987
Epoch 89/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8115
Epoch 90/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8131
Epoch 91/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8046
Epoch 92/150
20/20 [==============================] - 24s 1s/step - loss: 0.0107 - rmsse: 0.8034
Epoch 93/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8086
Epoch 94/150
20/20 [==============================] - 23s 1s/step - loss: 0.0110 - rmsse: 0.8302
Epoch 95/150
20/20 [==============================] - 22s 1s/step - loss: 0.0110 - rmsse: 0.8316
Epoch 96/150
20/20 [==============================] - 22s 1s/step - loss: 0.0109 - rmsse: 0.8174
Epoch 97/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.7989
Epoch 98/150
20/20 [==============================] - 22s 1s/step - loss: 0.0108 - rmsse: 0.8067
Epoch 99/150
20/20 [==============================] - 23s 1s/step - loss: 0.0107 - rmsse: 0.8074
Epoch 100/150
20/20 [==============================] - 24s 1s/step - loss: 0.0107 - rmsse: 0.8012
Epoch 101/150
20/20 [==============================] - 23s 1s/step - loss: 0.0107 - rmsse: 0.8007
Epoch 102/150
20/20 [==============================] - 21s 1s/step - loss: 0.0107 - rmsse: 0.8090
Epoch 103/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.8049
Epoch 104/150
20/20 [==============================] - 22s 1s/step - loss: 0.0107 - rmsse: 0.7981
Epoch 105/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7972
Epoch 106/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8016
Epoch 107/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8001
Epoch 108/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8074
Epoch 109/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7993
Epoch 110/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7936
Epoch 111/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8009
Epoch 112/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7957
Epoch 113/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7973
Epoch 114/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8013
Epoch 115/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7955
Epoch 116/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7980
Epoch 117/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7969
Epoch 118/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.8043
Epoch 119/150
20/20 [==============================] - 23s 1s/step - loss: 0.0105 - rmsse: 0.7976
Epoch 120/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7935
Epoch 121/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7988
Epoch 122/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7954
Epoch 123/150
20/20 [==============================] - 22s 1s/step - loss: 0.0106 - rmsse: 0.7943
Epoch 124/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7992
Epoch 125/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7942
Epoch 126/150
20/20 [==============================] - 21s 1s/step - loss: 0.0105 - rmsse: 0.7911
Epoch 127/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7937
Epoch 128/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.8001
Epoch 129/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7962
Epoch 130/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7935
Epoch 131/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7920
Epoch 132/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7952
Epoch 133/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7928
Epoch 134/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7978
Epoch 135/150
20/20 [==============================] - 23s 1s/step - loss: 0.0105 - rmsse: 0.7973
Epoch 136/150
20/20 [==============================] - 23s 1s/step - loss: 0.0105 - rmsse: 0.7936
Epoch 137/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7962
Epoch 138/150
20/20 [==============================] - 23s 1s/step - loss: 0.0105 - rmsse: 0.7899
Epoch 139/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7915
Epoch 140/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.8022
Epoch 141/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7999
Epoch 142/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7926
Epoch 143/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7906
Epoch 144/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7947
Epoch 145/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7937
Epoch 146/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.8019
Epoch 147/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.8023
Epoch 148/150
20/20 [==============================] - 22s 1s/step - loss: 0.0105 - rmsse: 0.7966
Epoch 149/150
20/20 [==============================] - 21s 1s/step - loss: 0.0105 - rmsse: 0.7962
Epoch 150/150
20/20 [==============================] - 21s 1s/step - loss: 0.0104 - rmsse: 0.7930

In [32]:
inputs_eval = final_data[-timesteps:]
inputs_eval = sc.transform(inputs_eval)
print(inputs_eval)
inputs_eval.shape

[[0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.2        0.         ... 0.         0.         0.        ]
 [0.         0.         0.16666667 ... 0.         0.         0.        ]
 ...
 [0.6        0.         0.5        ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.2        0.         0.16666667 ... 0.         0.         0.        ]]

(28, 30495)

In [33]:
inputs = final_data[-timesteps*2:-timesteps]
inputs = sc.transform(inputs)
print(inputs)
inputs.shape

[[0.2        0.2        0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 [0.         0.         0.         ... 0.         0.         0.        ]
 ...
 [0.         0.         0.16666667 ... 0.         0.         0.        ]
 [0.2        0.         0.16666667 ... 0.         0.         0.        ]
 [0.2        0.         0.16666667 ... 0.         0.         0.        ]]

(28, 30495)

In [34]:
X_test = []
X_test.append(inputs[0:timesteps])
X_test = np.array(X_test)
print(X_test.shape)
predictions = []
testInput = None

for j in range(timesteps,timesteps + 28):
    predicted_sales  = model_1.predict(X_test[0,j - timesteps:j].reshape(1, timesteps, 30495))

    testInput = np.column_stack((np.array(predicted_sales),
                                 daysBeforeEvent1_valid.loc[1913 + j - timesteps],
                                 daysBeforeEvent2_valid.loc[1913 + j - timesteps],
                                 snap_CA_valid.loc[1913 + j - timesteps],
                                 snap_TX_valid.loc[1913 + j - timesteps],
                                 snap_WI_valid.loc[1913 + j - timesteps]))

    X_test = np.append(X_test, testInput).reshape(1,j + 1,30495)
    predicted_sales = sc.inverse_transform(testInput)[:,0:30490]
    predictions.append(predicted_sales)

print(testInput.shape)

(1, 28, 30495)
1/1 [==============================] - 2s 2s/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 49ms/step
(1, 30495)

In [35]:
X_eval = []
X_eval.append(inputs_eval[0:timesteps])
X_eval = np.array(X_eval)
predictions_eval = []

for j in range(timesteps,timesteps + 28):
    predicted_sales = model_1.predict(X_eval[0,j - timesteps:j].reshape(1, timesteps, 30495))

    testInput = np.column_stack((np.array(predicted_sales),
                                 daysBeforeEvent1_eval.loc[1941 + j - timesteps],
                                 daysBeforeEvent2_eval.loc[1941 + j - timesteps],
                                 snap_CA_eval.loc[1941 + j - timesteps],
                                 snap_TX_eval.loc[1941 + j - timesteps],
                                 snap_WI_eval.loc[1941 + j - timesteps]))

    X_eval = np.append(X_eval, testInput).reshape(1,j + 1,30495)
    predicted_sales = sc.inverse_transform(testInput)[:,0:30490]
    predictions_eval.append(predicted_sales)

1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 50ms/step
1/1 [==============================] - 0s 49ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 47ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 48ms/step
1/1 [==============================] - 0s 46ms/step
1/1 [==============================] - 0s 48ms/step

In [36]:
submission = pd.DataFrame(data=np.array(predictions).reshape(28,30490))
submission = submission.T

submission_eval = pd.DataFrame(data=np.array(predictions_eval).reshape(28,30490))
submission_eval = submission_eval.T

submission = pd.concat((submission, submission_eval), ignore_index=True)

idColumn = ss_data[['id']]
submission[['id']] = idColumn

cols = list(submission.columns)
cols = cols[-1:]+cols[:-1]
submission = submission[cols]

colsdname = ['id'] + [f'F{i}' for i in range(1,29)]
submission.columns = colsdname

cols = ['F1', 'F2', 'F3', 'F4', 'F5', 'F6', 'F7', 'F8', 'F9', 'F10',
        'F11', 'F12', 'F13', 'F14', 'F15', 'F16', 'F17', 'F18', 'F19', 'F20',
        'F21', 'F22', 'F23', 'F24', 'F25', 'F26', 'F27', 'F28']

submission[cols] = submission[cols].mask(submission[cols] < 0, 0)

submission.to_csv('submission_lstm_cnn_dropout.csv', index=False, header=True)

In [37]:
submission.shape

(60980, 29)